body{
    font-family: Bahnschrift;
    background-color: white;
    text-align: justify;
    font-size: 110%;
}
img{
    border-radius: 14px;
}
a{
    text-decoration: none;
    color:deepskyblue;
}
/*!     Fejléc      */
#fejlec{
    width: 98.3vw;
    background-image: url(../Sources/aurora.jpg);
    background-size: 98.3vw ;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 13.5vh;
}
#title_table{
    width: 98.3vw;
    text-align: center;
    align-items: center;
    justify-content: center;
}
th, td{
    font-size: 150%;
}
.head_side{
    width: 13vw;
}
#head_h1{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    font-size: 200%;
}
#homebtn{
    width: 17%;
}
#arrow{
    width: 16%;
}
.head_link{
    text-decoration: none;
    line-height: 2;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2.5%;
    border-radius: 5px;
    font-size: 130%;
}
/*!     Main      */
div{
    width: 60vw;
    margin-inline: 20vw;
}
h3{
    text-indent: 0.8vw;
}
p{
    text-indent: 1vw;
    margin-left: 1.5vw;
}
.zene_a{
    color: #1ed760;
}