html, body{max-height: 100%;}
.container {
  max-height: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  transition: 0.5s ease;
  display: block;
  height: 33.33%;
}

.middle {
  transition: 0.5s ease 0.3s;
  opacity: 0;
  position: absolute;

  /*text*/
  text-align: center;
  color: white;
  font-size: 60px;
}

.container:hover .image {
  filter: blur(3px);
}

.container:hover .middle {
  opacity: 1;
}