body{
    font-family: Bahnschrift;
    background-color: white;
    text-align: justify;
    font-size: 110%;
}
img{
    border-radius: 14px;
}

/*!       JS      */
.checkout {
	height: 10%;
	width: 20%;
	margin: 20px;
	border: 2px solid black;
	text-align: center;
	display: inline-block;
	/*Nyugodtan átszinezheted, átállíthatod*/
}
/*!       JS      */

#fejlec{
	width: 98.3vw;
	background-image: url(../Sources/balaton_1.png);
	background-size: 98.3vw ;
	background-repeat: no-repeat;
	border-radius: 15px;
	
}

/*!     Fejléc      */
#fejlec{
    width: 98.3vw;
    background-image: url(../Sources/szepkilato_2.jpg);
    background-size: 98.3vw ;
    background-repeat: no-repeat;
    border-radius: 15px;
    
}
#title_table{
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
th, td{
    font-size: 150%;
}
#head_h1{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;

}
#homebtn{
    width: 17%;
}
#aboutbtn{
    width: 23%;
}
.head_link{
    text-decoration: none;
    line-height: 2;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2.5%;
    border-radius: 5px;
    font-size: 130%;
}

/*!     Nav     */
nav{
    height: 2000px;
    width: 30vw;
}
dl{
    position:sticky; 
    top:3px;
}
dt{
    font-size: 145%;
    line-height: 1.9;
}
#site_navigation{
    width: 10%;
    float: left;
}
.nav_link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #0fc268bb;
    text-shadow: 0.5px 0.5px 4px rgb(134, 134, 134);
    padding: 2.5%;
    padding-left: 3%;
    padding-right: 4%;
    border-radius: 7px;
}

/*!     Main        */
hr{
    border: #0fc268 solid 2px;
}
h3{
    text-indent: 0.5%;
}
p{
    text-indent: 1%;
}
#main_div{
    width: 88%;
    float: right;
}
#paragraph1 {
	float: left;
	width: 50%;
}
#paragraph2 {
	float: right;
	width: 50%;
}

/*!     Footer      */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
#foot_a{
    text-decoration: none;
}
#foot_p{
    color: white;
    text-align: center;
    font-size: 110%;
    text-shadow: 0.5px 0.5px 4px rgb(134, 134, 134);
    background-color: #0fc268bb;
    margin-inline: 43%;
    padding: 0.5%;
    border-radius: 12px;
}