body{
  background-color: rgb(26, 26, 26);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vh;
}
.a{
  transition: 0.4s ease;
  display: block;
  height: 32.01vh;
  width: 100vw;
  object-fit: cover;
}
.aa{
  text-decoration: none;
  color: white;
}
.image{
  height: 31vh;
  width: 98vw;
  object-fit: cover;
  border-radius: 15px;
}
.middle {
  transition: 0.4s ease 0.2s;
  opacity: 0;
  position: absolute;

  /*text*/
  text-align: center;
  font-family: Bahnschrift;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  font-size: 480%;
  padding-bottom: 0.5%;
}
.container:hover .a {
  filter: blur(3px);
}
.container:hover .middle {
  opacity: 1;
}